// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 1000px;
  margin: auto;
  font-family: "Comic Sans", sans-serif;
}

h1, h3 {
  color: rgb(32, 112, 178);
}

li {
  margin: 30px;
}
